<h1>Lista de Usuarios</h1>

<table class="table">
	<%= for user <- @users do %>
		<tr>
			<td><%= first_name(user) %><b>( <%= user.id %> )</b></td>
			<td><%= link "Show", to: users_path(@conn, :show, user.id)%></td>
		</tr>	
	<% end %>	
</table>

<%= link "Novo Usuario",to: users_path(@conn, :new), class: "btn btn-primary"%>